garrot_dijoux_schema_BigVir2084.xsd

<?xml version="1.1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="BIGVIR">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LISTE_CITOYEN">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CITOYEN" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NOM" type="xs:string"/>
                                        <xs:element name="PRENOM" type="xs:string"/>
                                        <xs:element name="SEXE">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="HOMME"/>
                                                    <xs:enumeration value="FEMME"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="AGE" type="xs:positiveInteger"/>
                                        <xs:element name="POIDS" type="xs:positiveInteger"/>
                                        <xs:element name="TELEPHONE" type="phone"/>
                                        <xs:element name="ANTECEDENTS_MECICAUX">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CONSULTATIONS" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="CONSULTATION" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="LIEU" type="xs:string" nillable="false"/>
                                                                            <xs:element name="PROFESSIONNEL_SANTE">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="professionnel_sante_id" type="xs:positiveInteger" use="required"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="DATE" type="xs:date"/>
                                                                            <xs:element name="MOTIF" type="xs:string"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="id_consultation" type="xs:positiveInteger" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="HOSPITALISATIONS" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="HOSPITALISATION" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="LIEU" type="xs:string"/>
                                                                            <xs:element name="DATE_ENTREE" type="xs:date"/>
                                                                            <xs:element name="DATE_SORTIE" type="xs:date"/>
                                                                            <xs:element name="MOTIF" type="xs:string"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="id_hospitalisation" type="xs:positiveInteger" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="RESULTATS_TESTS_LABORATOIRE" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RESULTAT" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="LABORATOIRE" type="xs:string"/>
                                                                            <xs:element name="PROFESSIONNEL_SANTE">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="professionnel_sante_id" type="xs:positiveInteger" use="required"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="POSITIF" type="xs:boolean"/>
                                                                            <xs:element name="DATE" type="xs:date"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="id_resultat" type="xs:positiveInteger" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="STATUT_INFECTION">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="NON_INFECTE"/>
                                                    <xs:enumeration value="INFECTE"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="STATUT_VACCINATION">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="NON_VACCINE"/>
                                                    <xs:enumeration value="EN_COURS"/>
                                                    <xs:enumeration value="VACCINE"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="STATUT_IMMUNISATION">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="NON_IMMUNISE"/>
                                                    <xs:enumeration value="IMMUNISE"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="RELATIONS_SOCIALES">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="AMI" nillable="true" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="id_ami" type="xs:positiveInteger" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="HISTORIQUE_SOCIAL">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ACTIVITE" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="DATE" type="xs:date"/>
                                                                <xs:element name="NOM_ACTIVITE" type="xs:string"/>
                                                                <xs:element name="NB_PARTICIPANTS" type="xs:positiveInteger"/>
                                                                <xs:element name="LIEU_CLOS" type="xs:boolean"/>
                                                                <xs:element name="PUBLIC" type="xs:boolean"/>
                                                                <xs:choice>
                                                                    <xs:element name="REF_LIEU" type="xs:positiveInteger"/>
                                                                    <xs:element name="REF_ETABLISSEMENT" type="xs:positiveInteger"/>
                                                                </xs:choice>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id_citoyen" type="xs:positiveInteger" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LISTE_ETABLISSEMENTS">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ETABLISSEMENT" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NOM_ETABLISSEMENT" type="xs:string"/>
                                        <xs:element name="ADRESSE" type="xs:string"/>
                                        <xs:element name="SUPERFICIE" type="xs:positiveInteger"/>
                                        <xs:element name="NB_PLACES" type="xs:positiveInteger"/>
                                    </xs:sequence>
                                    <xs:attribute name="id_etablissement" type="xs:positiveInteger"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LISTE_LIEUX">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="LIEU" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NOM_LIEU" type="xs:string" minOccurs="0"/>
                                        <xs:element name="ADRESSE" type="xs:string"/>
                                        <xs:element name="CODE_POSTAL" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="id_lieu" type="xs:positiveInteger"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LISTE_MEDECINS">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MEDECIN" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SPECIALITE" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="id_medecin" use="required" type="xs:positiveInteger"/>
                                    <xs:attribute name="id_citoyen" use="required" type="xs:positiveInteger"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <!-- Ici se trouve toute les clés et les références créées pour la base de données BigVir -->
        <!-- CITOYEN -->
        <xs:key name="cle_citoyen">
            <xs:selector xpath="LISTE_CITOYEN/CITOYEN"/>
            <xs:field xpath="@id_citoyen"/>
        </xs:key>
        <xs:keyref name="medecin_ref_citoyen" refer="cle_citoyen">
            <xs:selector xpath="LISTE_MEDECINS/MEDECIN"/>
            <xs:field xpath="@id_citoyen"/>
        </xs:keyref>
        <xs:keyref name="ami_ref_citoyen" refer="cle_citoyen">
            <xs:selector xpath="LISTE_CITOYEN/CITOYEN/RELATIONS_SOCIALES/AMI"/>
            <xs:field xpath="@id_ami"/>
        </xs:keyref>
        <!-- ETABLISSEMENT -->
        <xs:key name="cle_etablissement">
            <xs:selector xpath="LISTE_ETABLISSEMENTS/ETABLISSEMENT"/>
            <xs:field xpath="@id_etablissement"/>
        </xs:key>
        <xs:keyref name="ref_etablissement" refer="cle_etablissement">
            <xs:selector xpath="LISTE_CITOYEN/CITOYEN/HISTORIQUE_SOCIAL/ACTIVITE/REF_ETABLISSEMENT"/>
            <xs:field xpath="."/>
        </xs:keyref>
        <!-- LIEU -->
        <xs:key name="cle_lieu">
            <xs:selector xpath="LISTE_LIEUX/LIEU"/>
            <xs:field xpath="@id_lieu"/>
        </xs:key>
        <xs:keyref name="ref_lieu" refer="cle_lieu">
            <xs:selector xpath="LISTE_CITOYEN/CITOYEN/HISTORIQUE_SOCIAL/ACTIVITE/REF_LIEU"/>
            <xs:field xpath="."/>
        </xs:keyref>
        <!-- MEDECIN -->
        <xs:key name="cle_medecin">
            <xs:selector xpath="LISTE_MEDECINS/MEDECIN"/>
            <xs:field xpath="@id_medecin"/>
        </xs:key>
        <xs:keyref name="ref_medecin_consultation" refer="cle_medecin">
            <xs:selector xpath="LISTE_CITOYEN/CITOYEN/ANTECEDENTS_MECICAUX/CONSULTATIONS/CONSULTATION/PROFESSIONNEL_SANTE"/>
            <xs:field xpath="@professionnel_sante_id"/>
        </xs:keyref>
        <xs:keyref name="ref_medecin_resultat" refer="cle_medecin">
            <xs:selector xpath="LISTE_CITOYEN/CITOYEN/ANTECEDENTS_MECICAUX/RESULTATS_TESTS_LABORATOIRE/RESULTAT/PROFESSIONNEL_SANTE"/>
            <xs:field xpath="@professionnel_sante_id"/>
        </xs:keyref>
        <!-- CONSULTATION -->
        <xs:unique name="unique_consultation">
            <xs:selector xpath="LISTE_CITOYEN/CITOYEN/ANTECEDENTS_MECICAUX/CONSULTATIONS/CONSULTATION"/>
            <xs:field xpath="@id_consultation"/>
        </xs:unique>
        <!-- HOSPITALISATION -->
        <xs:unique name="unique_hospitalisation">
            <xs:selector xpath="LISTE_CITOYEN/CITOYEN/ANTECEDENTS_MECICAUX/HOSPITALISATIONS/HOSPITALISATION"/>
            <xs:field xpath="@id_hospitalisation"/>
        </xs:unique>
        <!-- RESULTAT -->
        <xs:unique name="unique_resultat">
            <xs:selector xpath="LISTE_CITOYEN/CITOYEN/ANTECEDENTS_MECICAUX/RESULTATS_TESTS_LABORATOIRE/RESULTAT"/>
            <xs:field xpath="@id_resultat"/>
        </xs:unique>
    </xs:element>
    <xs:simpleType name="phone">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{10}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
